body {
  margin: 0;
  font-family: "REM", sans-serif !important;

  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;
  background-size: cover;
}

.clickable-row:hover {
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
  font-weight: bold;
}

tr:hover td {
  color: #e75699 !important;
}

table tr td,
table tr th {
  background-color: rgba(0, 0, 0, 0) !important;
}
